html{
    background-color: #f8f1f1;
}
.social{
    height: 100px;
    background-color: #f8f1f1;
    display: flex;
    align-items: flex-end;
   
}
.social-icons{
    color: orange;
    font-size: 2.2em;
    display: flex;
    padding: 0 0 20px 30px;
}
.social i{
    margin-right:20px;
}

nav{
    background-color: #5e95aa;
    /*border-top: solid 1px orange;
    border-bottom: solid 1px orange;*/
}

.navbar a{
    color: #ffffff;  
}
.navbar a:hover{
    color: #fff6d7;
    font-weight: bold; 
}
   
.navbar li{
    padding: 0 70px;
    list-style-type: none;
}
.fas{
    font-size: 2.5rem;
}

/*MODAL CONTENT*/
.modal-content{
    text-align: center;
    padding: 20px;
}
.modal-content hr{
    color: orangered;
}
form{
    padding: 1.2rem;
}
.registration{
    background-color:#5eaaa8;
    color: white;
    padding: 1.2rem 1rem;
}
.registration button{  
    background: orange;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: 0.3rem 2rem;
    border: 0;
    border-radius: 2px;
}
/*MAIN CONTENT*/
main{
    background-color: #f8f1f1;
}
.featured{
    background-image: url(../images/featured-image-1.jpg);
    background-size: cover;
    background-color: white;
    height: 500px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    text-shadow: 2px 2px 3px #000000;
    font-size: 4em;
    font-weight: bold;
}
article{
    margin: 30px;
}
